.header-main-outer{width: 100%; border-bottom: 5px solid #16243A;box-sizing: border-box;}
.header-logo-img-td{vertical-align: center;}
.header-logo-img{float: right; width: 220px; height: 32px;max-width: 100%}
.first-title{font-size: 24px; color:rgb(0, 176, 219); font-style:normal; text-decoration: none;}
.second-title{font-size: 24px; color:rgb(109, 110, 112); font-style:normal; text-decoration: none; 
    letter-spacing: 0;} 

.second-section .first-text{font-size: 15px; margin: 28px 0px 7px -2px;}
.second-section .second-text{font-size: 15px; margin: 0px 0px 0px -2px; line-height: 1.2;}

.third-section-main{background-color: #f4f5f6;width: 100%;display: inline-block;margin-top: 15px;margin-left: -19px;padding-right: 15px;}
.first-box{
    width: 260px; 
    max-width: 250px;
    height: 195px;
   border: 1.5px solid rgb(0,176,219);
   padding: 0px 7px 33px 7px;
}
.second-box{
   width: 320px; 
   max-width: 250px;
   height: 195px;
   border: 1.5px solid rgb(175,175,175);
   background-color: white;
   margin-left:30px;
   padding: 0px 7px 34px 7px;
}


.first-box-row .first-box-text{font-size: 12px;margin-top: 5px; margin-bottom: 3px;line-height: 1.3;}
.remove-m-top {margin-top: 0px;}
.first-box-row .first-box-price{font-size: 15px;margin: 0px;}
.second-box td{padding: 3px 0px;}
.odd-row{background-color: #f2f2f3;}
.table-after-graph td{padding: 1px 0px;}


.second-table-main td{padding: 3px 0px;}
.for-blank-space{padding: 20px 0px;}
.fourth-section-main{background-color: #fff;width: 100%;display: inline-block;}
.qr_image {height: 75px; width: 75px; float: right; }


.Important_Disclosures_Title{font-size: 12px;margin: 15px 0px 5px 0px;}
.Important_Disclosures_Text{margin: 5px 0px;font-size: 8px; margin: 0px;line-height: 1.4;}

/* Added new css or class */

.first-retirement-saving-main-outer{padding: 15px 18px; width:100%;}
.retirement-bannner-title{color: white;font-size: 15px; font-weight: 400; margin:0px 0px 20px 0px;}
.retirement-bannner-sub-title{color: white;font-size: 15px; font-weight: 400; margin:0px;line-height: 20px;}
.user-name{font-size: 21px;}
.sec-box-table-data-title{font-size: 8px; width:70%;}
.sec-box-table-right-data-title{font-size: 8px; width:30%;}
.bannner-second-sec{padding: 0px 0px 0px 45px; width:38%;}
.retirement-result-input-txt{margin-top:12px;}
.second-table-title{padding: 8px; width:100%;}